@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../views';
@source '../js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-50: #f0fdf4;
    --color-brand-100: #dcfce7;
    --color-brand-200: #bbf7d0;
    --color-brand-300: #86efac;
    --color-brand-400: #4ade80;
    --color-brand-500: #22c55e;
    --color-brand-600: #16a34a;
    --color-brand-700: #15803d;
    --color-brand-800: #166534;
    --color-brand-900: #14532d;
}

html {
    scroll-behavior: smooth;
}
